@media screen and (min-width: 769px) {

.hamburger {
    display: none;
}
.header {
}

.top-social {
    border: 1px solid red;
    display: block;
    background-color: black;
    padding: 0% 10%;
 }

.top-social-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
}

.top-social-item {
    list-style: none;
    margin-left: 2%;
}
.top-social-item a, .top-social-item img{
    color: white;
    font-size: 0.8rem;
    text-decoration: none;

}


















}
